<!-- One way data binding -->
<!-- Os dados fluem em uma única direção: da propriedade title para a tag h1 -->
<h1>{{title}}</h1>

<!-- A diretiva RouterLink é vinculada a uma string que informa o roteador para navegar quando o usuário clica no link -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<!-- Diz ao roteador onde exibir o componente -->
<!-- O roteador exibe cada componente imediatamente abaixo do <router-outlet> à medida que os usuários navegam pelo aplicativo -->
<router-outlet></router-outlet>
