<!-- Quando não há herois, a diretiva ngIf remove o html especificado (<div>) do DOM. -->
<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>ID: </label>{{hero.id}}
  </div>
  <div>
    <label>Name: </label>
    <!-- Two way data binding -->
    <!-- Dados fluem em ambas as direções: da propriedade para o textbox e do textbox de volta para a propriedade, usado em formularios -->
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <!-- (click) é um evento de click do botão que irá ativar a função goBack() ao clicar nesse botão -->
  <button (click)="goBack()">Back</button>
</div>
